name: Unit Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: [self-hosted, shopdesk]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache Node.js modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: linux-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            linux-node-

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
